<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UAUIngleza_plc.Settings.SPlcAddresses" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="UAUIngleza_plc.Settings.SPlc" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UAUIngleza_plc.Settings.SPlcAddresses>
            <setting name="Receita1" serializeAs="String">
                <value>Db0.Int0</value>
            </setting>
            <setting name="Receita2" serializeAs="String">
                <value>Db0.Int2</value>
            </setting>
            <setting name="Receita3" serializeAs="String">
                <value>Db0.Int4</value>
            </setting>
            <setting name="Receita4" serializeAs="String">
                <value>Db0.Int6</value>
            </setting>
            <setting name="Receita5" serializeAs="String">
                <value>Db0.Int8</value>
            </setting>
        </UAUIngleza_plc.Settings.SPlcAddresses>
        <UAUIngleza_plc.Settings.SPlc>
            <setting name="Ip" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="Rack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Slot" serializeAs="String">
                <value>2</value>
            </setting>
        </UAUIngleza_plc.Settings.SPlc>
    </applicationSettings>
</configuration>